{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--location"
%}

  {% include_dnd_partial path="../location-theme/sections/hero-banner.html" %}

  {% include_dnd_partial path="../location-theme/sections/location-map.html" %}

  {% include_dnd_partial path="../location-theme/sections/service-areas.html" %}

  {% include_dnd_partial path="../location-theme/sections/our-roofing-services.html" %}

  {% include_dnd_partial path="../location-theme/sections/why-choose-us.html" %}

  {% include_dnd_partial path="../location-theme/sections/our-roofing-process.html" %}

  {% include_dnd_partial path="../location-theme/sections/reviews.html" %}

  {% include_dnd_partial path="../location-theme/sections/faq.html" %}

  {% include_dnd_partial path="../location-theme/sections/estimate-cta.html" %}

  {% include_dnd_partial path="../location-theme/sections/bottom-strip.html" %}

{% end_dnd_area %}
