<!--
   templateType: page
   isAvailableForNewContent: true
   label: HubDB Location Page
 -->
 <!doctype html>
 <html lang="{{ html_lang }}" {{ html_lang_dir }}>
   <head>
     <meta charset="utf-8">
     {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
     {% if brand_settings.favicon.src %}<link rel="shortcut icon" href="{{ brand_settings.favicon.src }}" />{% endif %}
     <meta name="description" content="{{ page_meta.meta_description }}">
     {{ require_css(get_asset_url("../location-theme/css/main.css")) }}
     {{ require_css(get_asset_url("../location-theme/css/theme-overrides.css")) }}
     {{ standard_header_includes }}
   </head>
   <body>
     <div class="body-wrapper {{ builtin_body_classes }}">
       {% global_partial path="../location-theme/templates/partials/header.html" %}

       <main id="main-content" class="body-container-wrapper">
         {% dnd_area "dnd_area"
           label="Main section",
           class="body-container body-container--location"
         %}
           {% include_dnd_partial path="../location-theme/sections/hero-banner.html" %}
           {% include_dnd_partial path="../location-theme/sections/location-map.html" %}
           {% include_dnd_partial path="../location-theme/sections/service-areas.html" %}
           {% include_dnd_partial path="../location-theme/sections/our-roofing-services.html" %}
           {% include_dnd_partial path="../location-theme/sections/why-choose-us.html" %}
           {% include_dnd_partial path="../location-theme/sections/our-roofing-process.html" %}
           {% include_dnd_partial path="../location-theme/sections/reviews.html" %}
           {% include_dnd_partial path="../location-theme/sections/faq.html" %}
           {% include_dnd_partial path="../location-theme/sections/estimate-cta.html" %}
           {% include_dnd_partial path="../location-theme/sections/bottom-strip.html" %}
         {% end_dnd_area %}
       </main>

       {% global_partial path="../location-theme/templates/partials/footer.html" %}
     </div>
     {{ require_js(get_asset_url("../location-theme/js/main.js")) }}
     {{ standard_footer_includes }}
   </body>
 </html>
