<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

  {# Hero #}

  {% include_dnd_partial path="../sections/hero.html" %}

  {# Who we are #}

  {% include_dnd_partial path="../sections/who-we-are.html" %}

  {# Primary roof replacement services #}

  {% include_dnd_partial path="../sections/primary-services.html" %}

  {# All other roofing services #}

  {% include_dnd_partial path="../sections/other-services.html" %}

  {# Why homeowners choose us #}

  {% include_dnd_partial path="../sections/why-choose.html" %}

  {# Roof replacement process #}

  {% include_dnd_partial path="../sections/process.html" %}

  {# All locations we serve #}

  {% include_dnd_partial path="../sections/all-locations.html" %}

  {# Roof replacement in surrounding areas #}

  {% include_dnd_partial path="../sections/surrounding-areas.html" %}

  {# What our customers say #}

  {% include_dnd_partial path="../sections/reviews.html" %}

  {# Frequently asked questions (reused from location-theme) #}

  {% include_dnd_partial path="../sections/faq.html" %}

  {# Get a free roofing estimate (dark CTA) #}

  {% include_dnd_partial path="../sections/estimate-cta.html" %}

{% end_dnd_area %}
{% endblock body %}
